---

---

<footer
    class="bg-dark border-t border-grid px-8 py-12 font-mono text-sm text-gray-600 flex justify-between items-center"
>
    <span>© 2025 Tomoro v1.0</span>
    <span>Made by Freelancer for Freelancers</span>
</footer>
