<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{Astro.props.title}</title>

        <!-- Geist Font -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@geist-ui/font@1.1.0/geist-ui-font.css"
        />
    </head>
    <body style="margin: 0;">
        <slot />
    </body>
</html>
